{% if component.options.enable_arrows %}
  <div class="swiper-button-prev trsn"></div>
  <div class="swiper-button-next trsn"></div>
{% endif %}

{% if component.options.enable_dots %}
  <div class="swiper-pagination"></div>
{% endif %}